<div class="gf-form-group">
  <div class="gf-form">
    <span class="gf-form-label width-13">Metric</span>
    <input type="text" class="gf-form-input" ng-model='ctrl.annotation.metric' placeholder=""></input>
  </div>
  <div class="gf-form">
    <span class="gf-form-label width-13">Dimensions</span>
    <input type="text" class="gf-form-input" ng-model='ctrl.annotation.dimensions' placeholder="hostname=my-server,region=region1"></input>
  </div>
  <div class="gf-form">
    <gf-form-switch
      class="gf-form"
      label-class="gf-form-label"
      label="Show null values"
      checked="ctrl.annotation.shownull"
      switch-class="max-width-6">
    </gf-form-switch>
    <gf-form-switch
      class="gf-form"
      label-class="gf-form-label"
      label="Show value_meta"
      checked="ctrl.annotation.showmeta"
      switch-class="max-width-6">
    </gf-form-switch>
    <div class="gf-form gf-form--grow">
        <div class="gf-form-label gf-form-label--grow"></div>
    </div>
  </div>
</div>
